@import url(reset.css);
html {
  font-size: 62.5%;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.warp {
  width: 100%;
  height: 100%;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: url(../img/s_1.jpg) center center;
  background-size: 100% 100%;
}
.warp header {
  margin-top: 5rem;
}
.warp header h2 {
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
}
.warp header h2 img {
  width: 88px;
  height: auto;
  background: none;
}
.warp header p {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  color: #4d4d4d;
}
.warp section {
  -webkit-box-flex: 1;
  padding-top: 3.5rem;
}
.warp section .main .main-info {
  padding: 0 3rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.warp section .main .main-info dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.warp section .main .main-info dl dt {
  margin-right: 1rem;
}
.warp section .main .main-info dl dt img {
  width: 3rem;
  height: auto;
  background: none;
}
.warp section .main .main-info dl dd {
  -webkit-box-flex: 1;
}
.warp section .main .main-info dl dd input {
  width: 100%;
  height: 2.3rem;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff9f57;
  line-height: 2.3rem;
}
.warp section .main .main-info dl dd input::-webkit-input-placeholder {
  color: #939292;
}
.warp section .main .main-info dl:nth-child(2) {
  padding-top: 1.5rem;
  box-sizing: border-box;
  position: relative;
}
.warp section .main .main-info dl:nth-child(2) p {
  position: absolute;
  top: 2rem;
  right: 0;
}
.warp section .main .main-info dl:nth-child(2) p img {
  width: 2rem;
  height: auto;
  background: none;
}
.warp section .main .register {
  padding: 0 1.3rem;
  box-sizing: border-box;
  margin-top: 2.5rem;
}
.warp section .main .register .login {
  width: 100%;
  height: 3.4rem;
  background: #ff7d1b;
  border-radius: 10px;
  border: 1px solid #f0cbaf;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #ffffff;
}
.warp section .main .register .bottom {
  padding-top: 1rem;
  box-sizing: border-box;
}
.warp section .main .register .bottom .left {
  float: left;
  color: #6b8eb7;
}
.warp section .main .register .bottom .right {
  float: right;
  color: #6b8eb7;
}
