@import url(reset.css);
html {
  font-size: 62.5%;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.warp {
  width: 100%;
  height: 100%;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.warp header {
  padding: 0 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.8rem;
  background: #f7f7f7;
  line-height: 3.8rem;
  border-bottom: 1px solid #e8e8e8;
}
.warp header .left {
  width: 1.7rem;
  height: auto;
  background: none;
}
.warp header .left img {
  width: 0.8rem;
  height: auto;
  background: none;
}
.warp header .right {
  width: 1.7rem;
  height: auto;
  background: none;
}
.warp header .right img {
  width: 100%;
  height: auto;
  background: none;
}
.warp header .centre {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
  color: #262626;
}
.warp nav .nav-info {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
}
.warp nav .nav-info p {
  color: #5d5d5d;
}
.warp nav .nav-info p:nth-child(2) span:nth-child(2) {
  color: #ffaf84;
}
.warp nav .nav-info p:nth-child(3) span:nth-child(3) {
  margin-left: 0.5rem;
}
.warp nav .nav-info p:nth-child(5) span:nth-child(3) {
  margin-left: 0.5rem;
}
.warp section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow: auto;
}
.warp section::-webkit-scrollbar {
  width: 0;
}
.warp section .main {
  margin-top: 0.4rem;
  background: #FFFFFF;
}
.warp section .main .main-top {
  width: 100%;
  height: 2.6rem;
  background: none;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 2.6rem;
  border-bottom: 1px solid #fbfbfb;
}
.warp section .main .main-info {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-info dl {
  position: relative;
}
.warp section .main .main-info dl dt {
  float: left;
  margin-right: 0.6rem;
}
.warp section .main .main-info dl dt img {
  width: 6.4rem;
  height: auto;
  background: noen;
}
.warp section .main .main-info dl dd h2 {
  color: #262626;
}
.warp section .main .main-info dl dd .left {
  position: absolute;
  top: 2.8rem;
  left: 5.4rem;
  font-size: 10px;
  -webkit-transform: scale(0.75);
  color: #b3b3b3;
}
.warp section .main .main-info dl dd .left p span:nth-child(2) {
  margin-left: 0.3rem;
}
.warp section .main .main-info dl dd .left p span:nth-child(3) {
  margin-left: 0.3rem;
}
.warp section .main .main-info dl dd .right {
  position: absolute;
  top: 2.6rem;
  right: 0;
  font-size: 12px;
  -webkit-transform: scale(0.75);
}
.warp section .main .main-total {
  width: 100%;
  height: 2.6rem;
  background: none;
  line-height: 2.6rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-total p {
  float: right;
  display: inline-block;
  margin-left: 0.6rem;
  color: #5d5d5d;
}
.warp section .main .main-total p .orgin {
  color: #ff8838;
}
.warp section .main .main-plan {
  background: #f2f2f2;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.warp section .main .main-plan .plan-top {
  width: 100%;
  height: 2.5rem;
  background: #ffffff;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 2.5rem;
  font-size: 1.4rem;
  color: #494949;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-plan .plan-info {
  padding: 0.5rem 1rem;
  background: #FFFFFF;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
  color: #bfbfbf;
}
.warp section .main .main-plan .plan-info p:nth-child(1) span:nth-child(3) {
  margin-left: 1rem;
}
.warp section .main .main-plan .plan-info p:nth-child(3) {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.warp section .main .main-plan .plan-info p:nth-child(3) span:nth-child(1) {
  display: inline-block;
}
.warp section .main .main-plan .plan-info p:nth-child(3) span:nth-child(2) {
  padding-left: 0.2rem;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  display: block;
}
.warp section .main .main-plan .plan-info p:nth-child(5) span:nth-child(2) {
  color: #ff8838;
}
.warp section .main .main-plan .plan-info p:nth-child(5) span:nth-child(3) {
  margin-left: 1rem;
}
.warp section .main .main-plan .plan-info p:nth-child(4) span:nth-child(3) {
  margin-left: 1rem;
}
.warp section .main .main-plan .plan-info p:nth-child(6) {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.warp section .main .main-plan .plan-info p:nth-child(6) span:nth-child(1) {
  display: inline-block;
}
.warp section .main .main-plan .plan-info p:nth-child(6) span:nth-child(2) {
  padding-left: 0.2rem;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  display: block;
}
.warp section .main .main-plan .plan-info .last {
  color: #959595;
}
.warp section .main .main-plan .plan-info .last img {
  width: 1.1rem;
  height: auto;
  background: none;
  margin-right: 0.2rem;
}
.warp section .main .main-plan .plan-info .last span {
  color: #ff9a5f;
}
.warp section .main .main-plan .plan-info .black span:nth-child(3) {
  margin-left: 1rem;
}
.warp section .main .main-plan .bottom {
  padding-left: 4.8rem;
  box-sizing: border-box;
}
.warp section .main .main-plan .bottom a {
  float: left;
  padding: 0.5rem 0.2rem;
  box-sizing: border-box;
}
.warp section .main .main-plan .bottom a img {
  width: 4.4rem;
  height: auto;
  background: none;
}
.warp section .main .main-news {
  width: 100%;
  height: 2.6rem;
  background: none;
  line-height: 2.6rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-news p {
  float: right;
  display: inline-block;
  margin-left: 0.6rem;
  color: #5d5d5d;
}
.warp section .main .main-btn {
  width: 100%;
  height: 2.6rem;
  background: none;
  line-height: 2.6rem;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-btn p {
  position: absolute;
  top: 0;
  right: 1rem;
}
.warp section .main .main-btn p span {
  width: 5rem;
  height: 1.5rem;
  background: none;
  border: 1px solid #ffd1af;
  border-radius: 5px;
  color: #ffa370;
  padding: 0.1rem 0.3rem;
  box-sizing: border-box;
}
.warp section .main .main-turn {
  width: 100%;
  height: 2.6rem;
  background: none;
  line-height: 2.6rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f9f9f9;
}
.warp section .main .main-turn p {
  float: right;
}
.warp section .main .main-turn p span {
  width: 5rem;
  height: 1.5rem;
  background: none;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  box-sizing: border-box;
  color: #333333;
}
